<script src="https://utteranc.es/client.js"
    repo="pushowl/engineering-blog"
    issue-term="pathname"
    label="comment"
    theme="preferred-color-scheme"
    crossorigin="anonymous"
    async>
</script>